.detail-header {
  display: flex;
  justify-content: center;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
}

.detail-header-right {
  flex-grow: 1;
  padding-left: 25px;
  padding-right: 7px;
}

.detail_poster {
  flex-grow: 0;
  box-shadow: 0px 0px 5px 0px gray;
}

.detail-title {
  display: flex;
  justify-content: space-between;
}

.club-detail-user-info-container {
  display: flex;
  position: relative;
  top: 13px;
}

.club-detail-user-info-item {
  display: flex;
  align-items: center;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 20px;
}

.club-detail-user-info-item-img {
  position: relative;
  bottom: 4px;
}

.club-detail-short-info {
  padding-top: 15px;
  font-size: 17px;
  font-style: italic;
}

.club-detail-short-info-title {
  font-weight: bold;
}
