.Card {
  height: 150px;
  margin: 10px;
  border: 1px solid rgb(206, 206, 206);
}

.image {
  line-height: 150px;
  display: inline-block;
  width: 35%;
  vertical-align: middle;
}

.text {
  line-height: 150px;
  display: inline-block;
  vertical-align: middle;
}
