.Header {
  height: 4rem;
  background-color: #343a40;
  margin-bottom: 40px;
}

.home {
  color: #8f84b8;
  font-weight: bold;
  font-size: 1.5em;
  padding-left: 3%;
  display: inline-block;
  line-height: 4rem;
  width: 9%;
  min-width: 100px;
  text-align: left;
  cursor: pointer;
}

.menu-item {
  display: inline-block;
  color: rgb(192, 192, 192);
  font-weight: bold;
  font-size: 1em;
  line-height: 4rem;
  width: 10%;
  min-width: 60px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s;
  text-decoration: none;
  position: relative;
  bottom: 0.3rem;
  left: 31%;
}

.menu-item:hover {
  background-color: #484d52;
  color: white;
}

.menu-item.active {
  border-bottom: 3px solid #8f84b8;
  color: white;
}

.user-item {
  display: inline-block;
  color: white;
  font-size: 0.9em;
  line-height: 3rem;
  width: 7%;
  min-width: 60px;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  position: relative;
  bottom: 0.3rem;
  left: 55%;
}

.first-item {
  border: 0.5px solid white;
}
