.SomoimList {
  width: 74%;
  position: relative;
  left: 13%;
  background-color: white;
  padding: 2%;
}

.card-flex-container {
  display: flex;
  justify-content: space-between;
}

.SomoimCard {
  width: 50%;
  display: inline-block;
}
